torch
transformers
huggingface-hub
accelerate
bitsandbytes
numpy
matplotlib
typing_extensions
scipy
scikit-learn
scikit-image
imageio
humanize
h5py
safetensors
pandas
h5py
PyYAML
tensorboard
ninja
rich
seaborn
llama-cpp-python