tokenizer:
  tokenizer_name: "./tokenizers/trained_tokenizers/32768_pubmed/"
  custom_tokenizer: true
model:
  model_path: "meta-llama/Meta-Llama-3-8B"
  vocab_size: 32768
  hidden_size: 768
  num_hidden_layers: 2
  num_attention_heads: 2
  max_position_embeddings: 1024

dataset:
  train_h5_file_path: "../../data/processed/titan_slide_features/titan_slide_features_conch_v15.h5"
  train_texts_json_path: "../../data/processed/json/llama_70b_cleaned.json"
  val_data_ratio: 0.05
  embeddings_dim_size: 768
  max_seq_length: 1024
  random_choice_report: false

inference:
  model_path: "./pathollama_barrett_train/checkpoint-1200/model.safetensors"
  temperature: 0.5
  top_k: 128
  min_p: 0.00
  top_p: 0.95
  max_new_tokens: 1024
  do_sample: false


