tokenizer:
  tokenizer_name: "./tokenizers/trained_tokenizers/"
  custom_tokenizer: true
model:
  model_path: "meta-llama/Meta-Llama-3-8B"
  vocab_size: 8192
  hidden_size: 768
  num_hidden_layers: 2
  num_attention_heads: 2
  max_position_embeddings: 1024

dataset:
  val_pickle_file_path: "./data/tcga_data/split/Llama-3.3-70B-processed-200-split-variations/tcga_val_variations.pkl"
  embeddings_dim_size: 768
  max_seq_length: 1024
  random_choice_report: false

inference:
  model_path: "./pathollama_train/checkpoint-3200-2-layers-8192-vocab/model.safetensors"
  temperature: 0.5
  top_k: 128
  min_p: 0.00
  top_p: 0.95
  max_new_tokens: 1024
  do_sample: true


